<div class='speaker_controls'>
  <%= link_to "Edit", edit_event_path(event) %> |
  <%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_path %> |
</div>
