
  <div id='banner'>
    <div class='actions'>
      <%= link_to 'Propose Event', new_event_path, :class => 'button speak' %>
      <% if !signed_in? %>
      <%= link_to 'Join In!', sign_up_path, :class => 'button join' %>
      <% else %>
      <%= link_to 'Discuss!', 'http://groups.google.com/group/studioctrubywebdev', :class => 'button join' %>
      <% end %>
    </div>
    
    <%= image_tag '/images/osurb.png', :id => 'logo' %>
    <div id='tagline'>
      <p>
        Hey there, we are the Ruby on Rails student user group at The Ohio State University. We are actively looking for new student members and volunteer speakers in the community.
      </p>
    </div>
  </div>
  <div id='left_triangle'></div>
  <div id='right_triangle'></div>

