<div class='info'>
  <div id='about'>
    <p> 
      So, while I have you here, looking for information, let me tell you a some history about our little group.
      A short while ago, a righteous dude by the name of Joe came to The Ohio State University scholars 
      program looking to offer some of his time to teach an introductory Ruby class. During this class, a
      few students were lucky enough to get their hands on Ruby for the first time. After a very successful quarter
      Joe passed the torch to an OSU Alum by the name of Matt. He continued to lead the legion of Ruby peeps for
      a number of quarters thereafter. Much was learned and we've only just begun...
    </p>
  </div>
  <div id='contact'>
    <h3 class='red'>Contact</h3>
    <p>
      Feel free to contact us about joining, speaking, or even collaborating. Also, feel free to just show up!
    </p>
    <ul>
      <li>Twitter: <%= link_to '@osurb', 'http://www.twitter.com/osurb' %></li>
      <li>Email: <%= mail_to 'osurb@gmail.com' %></li>
      <li>Join our <%= link_to 'mailing list', 'http://groups.google.com/group/studioctrubywebdev' %></li>
    </ul>
  </div>
</div>
