<div class='info'>
  <p>
    Looking to get a head start on Ruby on Rails? Want to brush up on a topic that is going to be discussed at the next meeting?
    Here are some resources that we've found useful.
  </p>

  <div id=resources>
    <div id='Tutorials'>
    </div>

    <div id='Books'>
    </div>
  
    <div id='Documentation'>
    </div>

  </div>
</div>
